body {
    font-family: Arial, sans-serif;
    background-color: #ffa500;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
 

  .container-login {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 15px white;
    padding: 20px;
    width: 300px;
    text-align: center;
  }

  .container-login h2 {
    margin-bottom: 20px;
    color: #ffffff;
  }

  .formulario-login {
    display: flex;
    flex-direction: column;
  }

  .grupo-formulario {
    margin-bottom: 15px;
  }

  .grupo-formulario label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }

  .grupo-formulario input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .botoes-login {
    display: flex;
    justify-content: space-between;
  }

  .botao-login, .botao-cadastrar {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .botao-login {
    background-color: rgb(88, 255, 88);
    color: black;
    margin-right: 5px;
  }

  .botao-cadastrar {
    background-color: rgb(103, 209, 245);
    color: black;
    margin-left: 5px;
  }

  .botoes-login button:hover {
    filter: brightness(90%);
  }